/* 
 * reproduce our fieldMan.css styles in the OxygenXML Author mode, by 
 * matching with the relevant `outputclass`
 */

/* style for large link buttons */
[outputclass='enterBtn'] {
  font: bold 28px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  display: inline;
  text-align: center;
}

/** suppress link to current page in related-links */
[outputclass='current'] {
  pointer-events: none !important;
  cursor: default !important;
  text-decoration: none !important;
  color: #999 !important;
  background: none !important;
}

[outputclass='colorRed'] {
  color: #F00;
  border-color: #000;
}

[outputclass='colorPink'] {
  color: #F0F;
  border-color: #000;
}

[outputclass='colorBlue'] {
  color: #00F;
  border-color: #000;
}

[outputclass='colorGray'] {
  color: #777;
  border-color: #000;
}

[outputclass='colorOrange'] {
  color: #FC0;
  border-color: #000;
}

[outputclass='colorLightBlue'] {
  color: #0FF;
  border-color: #000;
}


[outputclass='bkLightGray'] {
  background-color: #CCC;    
}

[outputclass='bkDarkGray'] {
  background-color: #999;    
}

[outputclass='bkYellow'] {
  background-color: #ffff00;    
}

[outputclass='bkBlue'] {
  background-color: #0000ff;    
}

[outputclass='bkRed'] {
  background-color: #ff0000;    
}

[outputclass='bkGreen'] {
  background-color: #00ff00;    
}
  
